.kit-theme-default .layui-layout-admin .layui-body {
    bottom: 0px;
}

.layui-body {
    left: 0px;
}

.layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar {
    top: 0 !important;
    bottom: auto;
    height: 3px;
}

.layadmin-pagetabs .layui-tab-title li:first-child .layui-tab-close, .layadmin-tabs-select.layui-nav .layui-nav-bar, .layadmin-tabs-select.layui-nav .layui-nav-more {
    display: none
}

.layui-input, .layui-select, .layui-textarea, .layui-btn {
    border-radius: 4px;
}

/*.layui-btn {*/
    /*float: right;*/
    /*margin-right: 10px;*/
/*}*/

.kit-theme-default .layui-layout-admin .layui-header .layui-logo-brand {
    padding-left: 0px;
}

.kit-theme-default .layui-layout-admin .layui-header .layui-logo-brand a {
    padding-left: 0px;
}

.kit-theme-default .layui-layout-admin .layui-header .layui-logo {
    text-align: center;
}

.kit-theme-default .layui-layout-admin .layui-header .layui-layout-left .kit-nav {
    line-height: 49px;
    background-color: #373d41;
}

/*左侧搜索栏*/
.left-panel {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
}

.left-search {
    padding-bottom: 10px;
}

.left-search input {
    display: inline;
    width: 75%;
}

.left-search i {
    font-size: 22px;
    margin-left: 4px;
}

.left-panel .left-search .layui-btn-group .layui-btn-sm {
    padding: 0px 5px;
}

/*右侧面板*/
.right-panel {
    padding: 10px;
    margin: 10px 10px 10px 0px;
    background-color: white;
}
.left-panel .eleTree {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    display: inline-block;
}

.layui-input-block .eleTree{
    width: 350px;
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
}

.layui-input-block .select-tree{
    /*height: 300px;*/
    overflow-y: auto;
    width: 100%;
    display: none;
    position: absolute;
    top:100%;
    background-color: #fff;
    z-index: 100;
}


