<div class="layui-body-header">
	<ul class="kit-breadcrumb">
		<li class="kit-item">
			<a href="javascript:;">
				<i class="layui-icon">&#xe68e;</i>
				<span>一级菜单2</span>
			</a>
		</li>
		<li class="kit-separator">
			<i class="layui-icon">&#xe602;</i>
		</li>
		<li class="kit-item">
			<a href="javascript:;">
				<i class="layui-icon">&#xe658;</i>
				<span>二级菜单2</span>
			</a>
		</li>
		<li class="kit-separator">
			<i class="layui-icon">&#xe602;</i>
		</li>
		<li class="kit-item">
			<a>
				<span>三级菜单一</span>
			</a>
		</li>
	</ul>
</div>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			User Center
		</div>
	</div>
</div>

<script>
	layui.use(['layer'], function () {
		var layer = layui.layer;

		layer.msg('xxx');
	});
</script>

<style>
</style>