html {
    background-color: #f2f2f2;
    color: #666;
}

/*面包屑*/
.layadmin-header {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0px 15px;
}

.layadmin-header .layui-breadcrumb {
    border-top: 1px solid #f6f6f6;
    padding: 0 15px;
}

/*横向导航栏（覆盖layui原有样式）*/
.layui-header {
    height: 50px;
}

.layui-layout-admin .layui-logo {
    line-height: 50px;
}

.layui-nav .layui-nav-item {
    line-height: 50px;
}

/*垂直导航 （覆盖layui原有样式）*/
.layui-layout-admin .layui-side {
    top: 50px;
    width: 170px;
}

.layui-side-scroll {
    width: 190px;
}

.layui-nav-tree {
    width: 170px;
}

/*主体区域*/
.layui-layout-admin .layui-body {
    top: 50px;
    bottom: 0px;
}

.layui-body {
    left: 170px;
}

.layui-fluid {
    padding: 15px 15px 0px 15px;
}

.layui-card {
    margin-bottom: 0px;
    border-radius: 4px;
}

.layui-card-header {
    padding: 15px 15px;
}

/*按钮*/
.layui-btn {
    border-radius: 4px;
}

.layui-btn-container .layui-btn {
    margin-bottom: 0px;
}

/** 主内容区，左右栅格布局 */
.layui-row .right-panel {
    padding: 0px 20px;
}

.form-panel {
    background-color: white;
    border-radius: 6px;
}

.layui-row .right-panel .form-panel {
    padding: 0px 20px;
}

.form-panel .form-title {
    padding: 13px 48px 13px 0;
    margin: 0;background: #fff;
    border-bottom: 1px solid #eee;
}

.form-panel .form-content {
    padding: 20px 10px 5px 10px;
}

/* 表单的保存取消按钮右对齐 */
.layui-form-item .layui-input-block {
    text-align: right;
    padding-bottom: 10px;
    margin-right: 0px;
}

/* 表单 */
.layui-form {
    padding-top: 15px;
}

/*树*/
.tree-panel {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 6px;
}

.tree-panel .search-div {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.search-input {
    height: 30px;
    border-radius: 4px;
    width: 190px;
    border-style: none;
    display: inline;
}

.layui-input-block{
    min-height: 30px;
    margin-right: 50px;
    margin-left: 0px;
}

.site-h2 {
    max-width: 100%;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /*float: left;*/
    margin: 0 10px 0 0;
    line-height: 34px;
    font-weight: 700;
}

/*tag-it*/
ul.tagit {
    border-radius: 4px;
    border-color: #e6e6e6 !important;
    margin-right: 0px;
}

/*input*/
input.no-border {
    border-style: none;
}